extends ./base

block content
    h1 Contact

    form(action="/contacts" method="POST")
        input(type="text" name="name" placeholder="name")
        input(type="text" name="email" placeholder="email")
        input(type="text" name="phonenumber" placeholder="phonenumber")
        input(type="submit" value="연락처 추가")

    ul
        each contact in contactItems
            li #{contact.name} #{contact.email} #{contact.phonenumber}
